@import 'tailwindcss';

:root {
  --dwello-100: #fbf5f1;
  --dwello-200: #ddc7bb;
  --dwello-300: #695346;
  --dwello-400: #2b1b12;

  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
}

.header-2 {
  color: blueviolet;
}
