@import 'tailwindcss';

:root {
  --dwello-100: #fbf5f1;
  --dwello-200: #ddc7bb;
  --dwello-300: #695346;
  --dwello-350: #4f3527;
  --dwello-400: #2b1b12;

<<<<<<< HEAD
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
=======
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
}

.header-2 {
  color: blueviolet;
>>>>>>> b04c26ab89cc90520503cc9842ccb7758cb69fcf
}
